<p id="notice"><%= notice %></p>

<h1>month reports</h1>

<canvas id="myChart" width="300" height="100"></canvas>

<table>
  <thead>
    <tr>
      <th>sid</th>
      <th>id</th>
      <th>strategy</th>
      <th>strategy_params</th>
      <th>total_asset</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @month_simulation.reports.each do |report| %>
      <tr>
        <td><%= report.month_simulation.id %></td>
        <td><%= report.id %></td>
        <td><%= report.month_simulation.strategy %></td>
        <td>
          <% unless report.month_simulation.strategy_params.nil? %>
            <% eval(report.month_simulation.strategy_params).each do |key, value| %>
              <%= key %>: <%= value%><br>
            <% end %>
          <% end %>
        </td>
        <td><%= report.total_asset.to_i.to_s(:delimited) %>円</td>
        <td><%= link_to 'Show', report %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

